@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;   */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}


 /* @layer components {
  @media print {
    .print-container {
      @apply w-full h-full;
      transform-origin: top left;
      page-break-inside: avoid;
    }

    .print-hidden {
      @apply hidden;
    }

    body {
      -webkit-print-color-adjust: exact; 
    }

    @page {
      size: A4;
      margin: 1cm;
    }
  }
 }  */


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 16px;
}

/* Defina as classes do Tailwind CSS para a barra de rolagem */
.scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}

.scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

div.overflow-x-auto::-webkit-scrollbar {
  height: 8px; /* Defina a altura desejada da barra de rolagem */
}

/* Seletor para ajustar a altura da alça da barra de rolagem horizontal */
div.overflow-x-auto::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2); /* Cor da alça da barra de rolagem */
}

/* BANNER STYLES */
#equipeq1::after {
  content: '';
  width: 8px;
  height: 30px;
  background: #FF771B;
  position: absolute;
  bottom: -10px;
  left: 0;
  z-index: 50;
}


#parceiros::after {
  content: '';
  width: 8px;
  height: 30px;
  background: #FF771B;
  position: absolute;
  bottom: -10px;
  left: 0;
  z-index: 50;
}

#atividadeChave::after {
  content: '';
  width: 8px;
  height: 30px;
  background: #FF771B;
  position: absolute;
  bottom: -8px;
  left: 0;
  z-index: 50;
}

#oportunidadeMercado::after {
  content: '';
  width: 8px;
  height: 30px;
  background: #ec4899;
  position: absolute;
  bottom: -8px;
  left: 0;
  z-index: 50;
}

.oportunidadeMercadoDot::before {
  content: '';
  width: 2px;
  /* marginLeft: 250px; */
  height: calc(100% - 20px); /* Adjust height to leave space at top and bottom */
  background: linear-gradient(to bottom, 
              #ec4899 50%, 
              rgba(0,0,0,0) 0%) repeat-y;
  background-size: 100% 10px;
  position: absolute;
  top: 10px; /* Adjust according to your requirement */
  right: 8px;
}

#custosq2::after {
  content: '';
  width: 8px;
  height: 30px;
  background: #ec4899;
  position: absolute;
  bottom: -8px;
  left: 0;
  z-index: 50;
}

.custosq2Dot::before {
  content: '';
  width: 2px;
  /* marginLeft: 250px; */
  height: calc(100% - 20px); /* Adjust height to leave space at top and bottom */
  background: linear-gradient(to bottom, 
              #ec4899 50%, 
              rgba(0,0,0,0) 0%) repeat-y;
  background-size: 100% 10px;
  position: absolute;
  top: 10px; /* Adjust according to your requirement */
  /* left: 0; */
  right: 8px;
}

#propostaValor::after {
  content: '';
  width: 8px;
  height: 30px;
  background: #ec4899;
  position: absolute;
  bottom: -8px;
  left: 0;
  z-index: 50;
}

.propostaValorDot::before {
  content: '';
  width: 2px;
  /* marginLeft: 250px; */
  height: calc(100% - 20px); /* Adjust height to leave space at top and bottom */
  background: linear-gradient(to bottom, 
              #ec4899 50%, 
              rgba(0,0,0,0) 0%) repeat-y;
  background-size: 100% 10px;
  position: absolute;
  top: 10px; /* Adjust according to your requirement */
  /* left: 0; */
  right: 8px;
}


#contextoProblema::after {
  content: '';
  width: 8px;
  height: 30px;
  background: #6C4796;
  position: absolute;
  bottom: -8px;
  left: 0;
  z-index: 50;
}

#publicoFoco::after {
  content: '';
  width: 8px;
  height: 30px;
  background: #6C4796;
  position: absolute;
  bottom: -8px;
  left: 0;
  z-index: 50;
}

#intervencoesEstrategias::after {
  content: '';
  width: 8px;
  height: 30px;
  background: #6C4796;
  position: absolute;
  bottom: -8px;
  left: 0;
  z-index: 50;
}

#saidasOutputs::after {
  content: '';
  width: 8px;
  height: 30px;
  background: #6C4796;
  position: absolute;
  bottom: -26px;
  left: 0;
  z-index: 50;
}


/* Arrow Styles */

#resultadosCurtoPrazo::after {
  content: '';
  width: 8px;
  height: 30px;
  background: #6C4796;
  position: absolute;
  bottom: -10px;
  left: 0;
  z-index: 50;
} 

#resultadosCurtoPrazo::before {
    content: '';
    width: 40px;
    height: 20px; /* Ajuste conforme necessário */
    background: #6C4796;
    position: absolute;
    bottom: -25px;
    left: -15px;
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
    z-index: 51;
}

#custosq2Arrow::after {
  content: '';
  width: 8px;
  height: 30px;
  background: #f97316;
  position: absolute;
  bottom: -10px;
  left: 0;
  z-index: 50;
} 

#custosq2Arrow::before {
    content: '';
    width: 40px;
    height: 20px; /* Ajuste conforme necessário */
    background: #f97316;
    position: absolute;
    bottom: -25px;
    left: -15px;
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
    z-index: 51;
}

#custosq3Arrow::after {
  content: '';
  width: 8px;
  height: 30px;
  background: #ec4899;
  position: absolute;
  bottom: -10px;
  left: 0;
  z-index: 50;
} 

#custosq3Arrow::before {
    content: '';
    width: 40px;
    height: 20px; /* Ajuste conforme necessário */
    background: #ec4899;
    position: absolute;
    bottom: -25px;
    left: -15px;
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
    z-index: 51;
}


#recursosArrow::before {
    content: '';
    width: 40px;
    height: 20px; /* Ajuste conforme necessário */
    background: #f97316;
    position: absolute;
    bottom: -8px;
    left: -15px;
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
    z-index: 51;
}


